.wave-effect {
  display: inline-block;
  font-size: 1rem; /* Điều chỉnh kích thước chữ nếu cần */
}

.wave-effect span {
  display: inline-block;
  animation: wave 1s infinite;
}

@keyframes wave {
  0%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(5px);
  }
}
